.navigation{
    background-color: #009ffd;
}
.inner{
    height: 50px;
}
.inner>.lien{
    color: white;
    border: none !important;
}
.inner:hover {
    background-color: white !important;
}
inner:hover>lienn{
    color: #009ffd !important;
    transition: color 2s !important;
}