.navigation{
    background-color: #009ffd;
}
.inner{
    height: 50px;
}
.inner>.lienn{
    color: white;
    border: none !important;
}
.inner:hover {
    background-color: white !important;
}
.inner:hover>.lienn{
    color: #009ffd !important;
    transition: color 0.5s !important;
}