header{
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}

.cont {
    /*background-color: #ffffff;*/
    /*background-image: linear-gradient(315deg, #ffffff 0%, blue 74%);*/

    /*background-color: #ffffff;*/
    /*background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);*/
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%);
}

.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
}

.info:hover{
    color: white;
    transition: color,background-color 1s;
    background-color: #009ffd;
}

.info:hover >.feature{
    background-color: white !important;
    color: #009ffd !important;
    transition: color,background-color 1s;
}

