
.sidebar{
    list-style: none;
    flex-shrink: 0;
    background-color: #D9D9D9;
    height: 100%;
    overflow: auto;
}
@media screen and (max-width: 900px) {
    .sidebar {
        width: 100%;
    }
}


.sidebar-item{
    color: #666;
    padding: .75em 1em;
    display: block;
    transition: background-color .15s;
    border-radius: 5px;
}
.sidebar-item:hover{
    background-color: rgba(255, 255, 255, .1);
}

.sidebar-title{
    display: flex;
    font-size: 1.2em;
    justify-content: space-between;
}
.sidebar-title span i{
    display: inline-block;
    width: 1.5em;
}
.sidebar-title .toggle-btn{
    cursor: pointer;
    transition: transform .3s;
}
.sidebar-item.open > .sidebar-title .toggle-btn{
    transform: rotate(180deg);
}
.sidebar-content{
    padding-top: .25em;
    height: 0;
    overflow: hidden;
}
.sidebar-item.open > .sidebar-content{
    height: auto;
}

.sidebar-item.plain{
    font-family: -apple-system;
    color: #404040;
    text-decoration: none !important;
}
.sidebar-item.plain:hover{
    color: #fff;
    font-weight: bold;
    transition: color,font-weight 0.5ms;

}
.sidebar-item.plain i{
    display: inline-block;
    width: 1.7em;
}