.cont{
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);

}
.cont_ref{
    width: 100%;
    display: inline-flex;
}

.side{
    width: 30% !important;
}

.references{
    display: contents;
    width: 70% !important;
}


@media screen and (max-width: 900px) {
    .references{
        width: 100%;
        align-self: center;
        padding-top: 5px !important;
    }
    .side{
        width: 100% !important;
        padding-bottom: 5px !important;
    }
    .cont_ref{
        display: flex;
        flex-direction: column;
    }
}