/*.header{*/
/*    background-color: #9dc5c3;*/
/*    background-image: linear-gradient(315deg, #9dc5c3 0%, #5e5c5c 74%);*/
/*}*/
.cont{
    background-color: #ffffff;
}

.icon{
    color: #006622;
}

.tit{
    color: blue;

}
.process-item{
    border-radius: 1%;
}.process-item:hover{
    background-color: #009ffd;
    transform: revert;
}
.process-item:hover>p,.process-item:hover>.tit,.process-item:hover>.icon{
    color: white !important;
    transition: color 0.5s;

}


.services:hover{
    background-color: #2a2a72;
    background-image: linear-gradient(-315deg, #2a2a72 74%, #009ffd 0%);
    color: white;
    transition: background-color,color 2s;
}

.servicess:hover{
    background-color: #009ffd;
    background-image: linear-gradient(315deg,#009ffd 74% ,#2a2a72 0%  ) ;
    color: white;
    transition: background-color,color 2s;
}
